.followed {
  width: 196px;
  height: 50px;
  background-color: #5cd3a8;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  color: rgba(55, 55, 55, 1);
  text-transform: uppercase;
}
.notFollowed {
  width: 196px;
  height: 50px;
  background-color: rgba(235, 216, 255, 1);
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  color: rgba(55, 55, 55, 1);
  text-transform: uppercase;
}
.active:hover {
  background-color: #9ecfbd;
}
